.Dialog {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.DialogItems {
    max-width: 100%;
    border-radius: 13px 13px;
    background-color: #fff;
    padding: 0 20px;
}

.DialogItems ul {
    list-style: none;
    line-height: 2;
    padding: 0;
}
.DialogItems a {
    text-decoration: none;
    color: #2f5c7e;
    font-size: 20px;
}

a.active {
    color: #092236;
    border-bottom: 1px solid #092236;
}

.DialogText {
    max-width: 400px;
    width: 100%;
    border-radius: 13px 13px;
    background-color: #fff;
    padding:  0 20px;

}

.DialogText ul {
    list-style: none;
    font-size: 20px;
    color: #2f5c7e;
    line-height: 2;
    padding: 0;
}
.DialogText ul li {
    margin-bottom: 20px;
}
.DialogText :nth-child(odd)  {
    text-align: left;
}
.DialogText :nth-child(even)  {
    text-align: right;
}

.wrapperText {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.wrapperText textarea {
    height: 50px;
    border-radius: 13px;
    padding: 10px;
    font-size: 18px;
    color: #163b5b;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.wrapperText button {
    width: 150px;
    font-size: 18px;
    padding: 5px 15px;
    color: #163b5b;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #163b5b;
    border-radius: 6px;
    margin-top: 10px;
}