.MyInfo {
    padding: 0 10px 10px 10px;
    width: 100%;
}

.WrapperMyInfo {
    display: flex;
}

.MyLogo img {
    width: 70%;
    border-radius: 13px;
}

.MyDescription {
    padding: 0 15px 15px 15px;
}

.MyDescription span {
    display: block;
    line-height: 2;
    font-size: 18px;
    color: #163b5b;
    font-family: 'Roboto', sans-serif;
}
