.Navbar {
    height: 100%;
    width: 17%;
    border-radius: 13px 13px;
    background-color: #fff;
}

.Wrapper-Navbar {
    padding: 20px;
    margin-bottom: 50px;
}
.Wrapper-Navbar img {

}

.Wrapper-Navbar a {
    width: 100%;
    text-decoration: none;
    font-size: 20px;
    color: #2f5c7e;
    line-height: 2;


}