.App {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    padding: 20px;
    background-color: #dde1db;
}

.Container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    background-color: #f7f8f6;
    border-radius: 13px;
}

