.MyPosts {
    padding: 10px;
}

.MyPosts span {
    font-size: 22px;
    color: #163b5b;
    font-family: 'Roboto', sans-serif;
}

.Text {
    margin-top: 30px;
}

.Text textarea {
    width: 50%;
    height: 50px;
    border-radius: 13px;
    padding: 10px;
    font-size: 18px;
    color: #163b5b;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.Button button{
    font-size: 18px;
    padding: 5px 15px;
    color: #163b5b;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #163b5b;
    border-radius: 6px;
    margin-top: 10px;
}
.Posts {
    margin-top: 30px;
}
.Item {
    display: flex;

}
.Item img{
    height: 5%;
    width: 5%;
    display: block;
    border-radius: 50%;
    margin: 20px 20px 20px 0;
}
.Item p {
    font-size: 18px;
    color: #163b5b;
    font-family: 'Roboto', sans-serif;

}